html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  // font-size是可以被后代元素继承的属性,如果不给body设置font-size值,html下后代元素都会继承html的font-size值.
  // 一些行内元素的对齐方式就会出现问题 导致布局出现错误
  // amfe-flexible给的是24px 貌似会有点问题 vant button行高有1px差异
  font-size: 16PX !important;
}

#app {
  height: 100%;
  width: 100%;
}

// 不定义离开的动画，离开的路由会直接销毁
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-leave-active,
.slide-right-enter-active {
  transition: all 0.3s ease-in-out;
}

// 向左进入的动画 
.slide-left-enter-from {
  position: fixed;
  left: 100%;
  top: 0;
}

.slide-left-enter-to {
  position: fixed;
  left: 0;
  top: 0;
}

// 向左离开的动画 
.slide-left-leave-from {
  position: fixed;
  left: 0;
  top: 0;
}

.slide-left-leave-to {
  position: fixed;
  left: -100%;
}

// 向右需要离开的路由的动画
.slide-right-leave-from {
  position: fixed;
  left: 0;
  top: 0;
}

.slide-right-leave-to {
  position: fixed;
  left: 100%;
}

// 向右需要进入的路由的动画
.slide-right-enter-from {
  position: fixed;
  left: -100%;
  top: 0;
}

.slide-right-enter-to {
  position: fixed;
  left: 0;
}